# Composition and Aggregation

## Composition
Composition represent **part-of** relationship

In [4]:
class Salary:
    def __init__(self,pay,bonus):
        self.pay = pay
        self.bonus = bonus
        
    def annual_salary(self):
        return (self.pay*12) + self.bonus
    
class Employee:
    def __init__(self,name,age,pay,bonus):
        self.name = name
        self.age = age
        self.obj_salary = Salary(pay,bonus)
        
    def total_salary(self):
        return self.obj_salary.annual_salary()

When you delete the employee object automatically Salary object will be deleted

In [5]:
e1 = Employee("Shan",23,20000,1000)

In [7]:
e1.total_salary()

241000

## Aggregation 
Aggregation represent **has-a** relation-ship
Aggreation has a **uni-directional** relationship

In [8]:
class Salary:
    def __init__(self,pay,bonus):
        self.pay = pay
        self.bonus = bonus
        
    def annual_salary(self):
        return (self.pay*12) + self.bonus
    
    
class Employee:
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.obj_salary = salary
        
    def total_salary(self):
        return self.obj_salary.annual_salary()
    
salary = Salary(15000,1000)
emp = Employee('Shan',23,salary)

In [9]:
emp.total_salary()

181000